html {
  font-size: 1.3rem;
  font-weight: 500;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: black;
  color: white;
  letter-spacing: .5px;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-post {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  gap: 20px;


  .card {
    width: 400px;
    height: 220px;
    background-color: lightpink;
    border-radius: 10px;
    transition: all .25s ease-in;
    padding: 1rem;
    color: black;
    position: relative;
  }

  .card:hover {
    background-color: lightseagreen;
    color: white;
  }

  .card span {
    position: absolute;
    top: 90%;
    right: 10%;
    transform: translate(-10%, -40%);
  }

  .card span a {
    text-decoration: none;
    color: blue;
  }
}
